.admin-personal-update-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.admin-personal-update-message-container {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 40%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-personal-update-message-gif img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
