.confirm-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999999;
}

.confirm-box {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.confirm-gif {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.confirm-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 6px 0;
  color: rgb(51, 51, 51);
  font-size: 0.7rem;
  font-weight: bold;
  z-index: 1;
}
